
$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    background: $LightGray;
    font-family: 'Karla', sans-serif;
}
.card-container {
    height: 65%;
    width: 60%;
    margin: 90px auto 0 auto;
    display: grid;
    grid-template-rows: 45% 55%;
}
.upper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   background-color: rgb(255, 255, 255);
   padding: 40px;
   h3 {
    font-size: 2em;
    color: $Cyan;
   }
   h4 {
    margin-top: 25px;
    color: $BrightYellow;
    font-weight: 700;
   }
   p {
    margin-top: 10px;
    color: $GrayishBlue;
    line-height: 25px;
   }
}
.lower {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
}
.left {
    background-color: $Cyan;
    border-bottom-left-radius: 10px;
    padding: 40px;
    h4 {
        font-size: 1.4em;
    }
    h5 {
        font-size: 2em;
        font-weight: 700;
        margin-top: 15px;
        span {
            font-size: 0.5em;
            font-weight: 400;
            padding-left: 15px;
            opacity: 0.5;
        }
    }
    p {
        margin-top: 10px;
    }
    button {
        margin-top: 40px;
        width: 260px;
        height: 45px;
        border: 0.1px solid $BrightYellow;
        border-radius: 4px;
        background-color: $BrightYellow;
        -webkit-box-shadow: 3px 2px 15px 2px rgba(0, 0, 0, 0.459); 
        box-shadow: 3px 2px 15px 2px rgba(0, 0, 0, 0.466);
        color: white;
        font-size: 1em;
        font-weight: 700;
    }
}
.right {
    background: rgb(0, 217, 255);
    border-bottom-right-radius: 10px;
    padding: 40px;
    p {
        margin-top: 15px;
        width: 70%;
        line-height: 25px;
    }
}